{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }}>
{% endblock %}
{% block title %}Persatuan Bulog{% endblock %}
{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Persatuan Bulog</h1>
  <p class="lead">Lembaga pangan di Indonesia yang mengurusi tata niaga beras. Bulog dibentuk pada tanggal 10 Mei 1967 berdasarkan Keputusan Presidium Kabinet Nomor 114/Kep/1967. Sejak tahun 2003, status Bulog menjadi BUMN.</p>
  <hr class="my-4">
  <p>Design by : Akid Hendra&copy;</p>
  <p class="lead">
    <a class="btn btn-outline-info btn-lg" href="/contact" role="button">Contact as</a>
  </p>
</div>
{% endblock %}